@model Final_Project_V2.Models.Blog
@using Final_Project_V2.Models;

@{
    ViewBag.Title = "BlogDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BREADCRUMB START HERE -->
<div class="breadcrumbwrapper">
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">Home</a>
            </li>
            <li>
                <a href="@Url.Action("Blog")">Blog</a>
            </li>
            <li class="active">@Model.Header</li>
        </ol>
    </div>
</div>
<!-- BREADCRUMB END HERE -->
<!-- BLOG PAGE START HERE -->
<div class="blogsinglepage">
    <div class="container">
        <!-- BLOG POSTS START HERE -->
        <div class="col-md-9">
            <div class="col-md-12">
                <img src="~/Public/images/@Model.Image" alt="">
            </div>
            <div class="clear"></div>
            <div class="spanwrapper">
                <span>
                    By:
                    <span class="author">@Model.Author</span>
                </span>
                <span>
                    <i class="far fa-bookmark"></i> @Convert.ToDateTime(Model.Date).ToString("dd MMM, yyyy")
                </span>
                <span>
                    <i class="far fa-comment"></i> @Enumerable.Count(ViewBag.Comment) Comments
                </span>
            </div>
            <div class="blogcontent">
                <h2>@Model.Header</h2>
                <p>@Model.Paragraph_1.Substring(0, 250)</p>
                <h4>
                    @Model.StrongText
                </h4>
                <p>@Model.Paragraph_1.Substring(250)</p>
            </div>
            <div class="commentwrapper">
                <h4>Comments (@Enumerable.Count(ViewBag.Comment))</h4>
                @foreach (BlogComment bc in ViewBag.Comment)
                {
                    <div class="row">
                        <div class="col-md-2">
                            @*<img class="img-circle" src="~/Public/images/avatar.jpg" alt="">*@
                            <div class="char"><span>@bc.Firstname.Substring(0,1).ToUpper()</span><span>@bc.Lastname.Substring(0, 1).ToUpper()</span></div>
                        </div>
                        <div class="col-md-10">
                            <span class="username">@bc.Firstname @bc.Lastname</span>
                            <span>
                                <i class="far fa-bookmark"></i> @Convert.ToDateTime(bc.Date).ToString("dd MMM, yyyy")
                            </span>
                            <p>
                                @bc.Content
                            </p>
                        </div>
                    </div>
                }
            </div>
            <div class="leavecomment">
                <h4>Leave a Comment</h4>
                <form method="post">
                    <div class="col-md-6">
                        <label for="firstname">First Name</label>
                        <input type="text" name="Firstname" required>
                    </div>
                    <div class="col-md-6">
                        <label for="lastname">Last Name</label>
                        <input type="text" name="Lastname" required>
                    </div>
                    <div class="col-md-12">
                        <label for="message">Message</label>
                        <textarea id="message" cols="30" rows="10" name="Content" required></textarea>
                    </div>
                    @*<a href="#" class="btn btn-primary btn-lg">Send Message</a>*@
                    <input type="submit" class="btn btn-primary" value="Send Message" />
                </form>
            </div>
        </div>
        <!-- BLOG POSTS END HERE -->
        <!-- BLOG SIDEBAR START HERE -->
        @Html.Partial("BlogSideBar")
        <!-- BLOG SIDEBAR END HERE -->
    </div>
</div>
<!-- BLOG PAGE END HERE -->
<div class="clear"></div>
