@using Final_Project_V2.Models;

@{
    ViewBag.Title = "Home Page - Smart Tech";
}

<!-- ANIMATION & WEEKLY SALE START HERE -->
<div class="animation">
    <div class="container">
        <div class="col-md-8">
            <div class="ism-slider" data-transition_type="zoom" data-play_type="loop" data-image_fx="zoomrotate" id="my-slider">
                <ol>
                    @foreach (Animation anm in ViewBag.Animation)
                     {
                        <li>
                            <img src="~/Public/images/@anm.Image">
                            <div class="ism-caption ism-caption-0" data-delay='400'>@anm.Top_Text</div>
                            <div class="ism-caption ism-caption-1" data-delay='600'>@anm.Middle_Text</div>
                            <div class="ism-caption ism-caption-2" data-delay='800'>@anm.Bottom_Text <span>@anm.Price</span></div>
                        </li>
                     }
                    
                </ol>
            </div>
        </div>
        <div class="col-md-4">
            @*ANIMATION SIDE 1ST ROW*@
            <div class="row">
                <div class="firstrowtext">
                    <h3>@ViewBag.AnimationSideTop.TopText</h3>
                    <h2>@ViewBag.AnimationSideTop.MiddleText</h2>
                    <h3>@ViewBag.AnimationSideTop.Price</h3>
                </div>
                <img src="~/Public/images/@ViewBag.AnimationSideTop.Image" alt="">
            </div>

            @*ANIMATION SIDE 2ND ROW*@
            <div class="row">
                <div class="secondrowtext">
                    <h2>
                        <span>@ViewBag.AnimationSideBottom.TopText_1</span> @ViewBag.AnimationSideBottom.TopText_2
                    </h2>
                    <h4>@ViewBag.AnimationSideBottom.MiddleText</h4>
                    <a href="#" class="btn btn-primary btn-lg">@ViewBag.AnimationSideBottom.Button</a>
                </div>
                <img src="~/Public/images/@ViewBag.AnimationSideBottom.Image" alt="">
            </div>
        </div>
    </div>
</div>
<!-- ANIMATION & WEEKLY SALE END HERE -->

<!-- 4 DIVS START HERE -->
<div class="fourdivs">
    <div class="container">
        @foreach (FourDiv fd in ViewBag.FourDiv)
         {
            <div class="col-md-3">
                <div class="col-md-3 icon">
                    <i class="fa-2x @fd.Icon"></i>
                </div>
                <div class="col-md-9">
                    <h4>@fd.Header</h4>
                    <h5>@fd.Content</h5>
                </div>
            </div>
         }
    </div>
</div>
<!-- 4 DIVS END HERE -->

<!-- FIRST TABS START HERE -->
<div class="tabs">
    <div class="container">
        <!-- TABS HEADER -->
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#featured" data-toggle="tab">Featured</a>
            </li>
            <li>
                <a href="#special" data-toggle="tab">Special</a>
            </li>
            <li>
                <a href="#onsale" data-toggle="tab">Onsale</a>
            </li>
        </ul>
        <!-- TABS CONTENT -->
        <div class="tab-content">
            <!-- FEATURED -->
            <div class="tab-pane fade in active" id="featured">
                @foreach (Product pr in ViewBag.Product)
                {
                    if(pr.Featured == true)
                    {
                        <div class="product-5">
                                        <div class="productimg">
                                            @if(pr.Discount != null)
                                            {
                                                <span class="discount">-@pr.Discount%</span>
                                            }
                                            @if( pr.New == true)
                                            {
                                                <span class="new">NEW</span>
                                            }
                                            <img src="~/Public/images/@pr.Image" alt="">
                                        </div>
                                        <p class="productcategory">@pr.Category.Name</p>
                                        <p class="productname">@pr.Name</p>
                            <div class="stars">
                                @if (pr.Rating == 0)
                                 {
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 1)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 2)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 3)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 4)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 5)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                 }
                                 else
                                 {
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                 }
                                <span>@pr.Review_Count Review(s)</span>
                            </div>
                                        @if(pr.Discount != null)
                            {
                                <p class="oldprice">$@pr.Price</p>
                            }
                            else
                            {
                                <p class="productprice">$@pr.Price</p>
                            }
                                        <div class="buyproduct">
                                            <i class="fas fa-shopping-cart"></i>
                                        </div>
                                    </div>

                    }
                }
            </div>
            <!-- SPECIAL -->
            <div class="tab-pane fade" id="special">
                @foreach (Product pr in ViewBag.SpecialProduct)
                {
                        <div class="product-5">
                                        <div class="productimg">
                                            @if(pr.Discount != null)
                                            {
                                                <span class="discount">-@pr.Discount%</span>
                                            }
                                            @if( pr.New == true)
                                            {
                                                <span class="new">NEW</span>
                                            }
                                            <img src="~/Public/images/@pr.Image" alt="">
                                        </div>
                                        <p class="productcategory">@pr.Category.Name</p>
                                        <p class="productname">@pr.Name</p>
                            <div class="stars">
                                @if (pr.Rating == 0)
                                 {
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 1)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 2)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 3)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 4)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 5)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                 }
                                 else
                                 {
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                 }
                                <span>@pr.Review_Count Review(s)</span>
                            </div>
                                        @if(pr.Discount != null)
                            {
                                <p class="oldprice">$@pr.Price</p>
                            }
                            else
                            {
                                <p class="productprice">$@pr.Price</p>
                            }
                                        <div class="buyproduct">
                                            <i class="fas fa-shopping-cart"></i>
                                        </div>
                                    </div>
                }
            </div>
            <!-- ONSALE -->
            <div class="tab-pane fade" id="onsale">
                @foreach (Product pr in ViewBag.OnsaleProduct)
                {
                        <div class="product-5">
                                        <div class="productimg">
                                            @if(pr.Discount != null)
                                            {
                                                <span class="discount">-@pr.Discount%</span>
                                            }
                                            @if( pr.New == true)
                                            {
                                                <span class="new">NEW</span>
                                            }
                                            <img src="~/Public/images/@pr.Image" alt="">
                                        </div>
                                        <p class="productcategory">@pr.Category.Name</p>
                                        <p class="productname">@pr.Name</p>
                            <div class="stars">
                                @if (pr.Rating == 0)
                                 {
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 1)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 2)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 3)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 4)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 5)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                 }
                                 else
                                 {
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                 }
                                <span>@pr.Review_Count Review(s)</span>
                            </div>
                                        @if(pr.Discount != null)
                            {
                                <p class="oldprice">$@pr.Price</p>
                            }
                            else
                            {
                                <p class="productprice">$@pr.Price</p>
                            }
                                        <div class="buyproduct">
                                            <i class="fas fa-shopping-cart"></i>
                                        </div>
                                    </div>
                }            
            </div>
        </div>
    </div>
</div>
<!-- FIRST TABS END HERE -->

<!-- TOP SELLING OF THE WEEK START HERE -->
<div class="topselling">
    <div class="container">
        <h3>Top Selling of the Week</h3>
        <hr>
        <div class="productwrapper">
            <div class="watch">
                <div class="watchtext">
                    <h3>@ViewBag.TopSelling.Header</h3>
                    <h5>@ViewBag.TopSelling.Content</h5>
                    <h5>@ViewBag.TopSelling.Span</h5>
                    <a href="#" class="btn btn-primary btn-lg">@ViewBag.TopSelling.Button</a>
                </div>
                <img src="~/Public/images/@ViewBag.TopSelling.Image" alt="">
            </div>
            @*PRODUCTS IN TOP SELLING OF THE WEEK SECTION*@
            @foreach (Product pr in ViewBag.WeeklySaleProduct)
                {
                        <div class="product-5">
                                        <div class="productimg">
                                            @if(pr.Discount != null)
                                            {
                                                <span class="discount">-@pr.Discount%</span>
                                            }
                                            @if( pr.New == true)
                                            {
                                                <span class="new">NEW</span>
                                            }
                                            <img src="~/Public/images/@pr.Image" alt="">
                                        </div>
                                        <p class="productcategory">@pr.Category.Name</p>
                                        <p class="productname">@pr.Name</p>
                            <div class="stars">
                                @if (pr.Rating == 0)
                                 {
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 1)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 2)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 3)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 4)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 5)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                 }
                                 else
                                 {
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                 }
                                <span>@pr.Review_Count Review(s)</span>
                            </div>
                                        @if(pr.Discount != null)
                            {
                                <p class="oldprice">$@pr.Price</p>
                            }
                            else
                            {
                                <p class="productprice">$@pr.Price</p>
                            }
                                        <div class="buyproduct">
                                            <i class="fas fa-shopping-cart"></i>
                                        </div>
                                    </div>
                }  
        </div>
    </div>
</div>
<!-- TOP SELLING OF THE WEEK START HERE -->

<!-- SECOND TABS START HERE -->
<div class="secondtabs">
    <div class="container">
        <!-- TABS HEADER -->
        <ul class="nav nav-justified">
            <li class="active">
                <a href="#tv" data-toggle="tab">
                    <i class="fas fa-2x fa-tv"></i>
                    <h4>TV & Audios</h4>
                    <p>236 item(s)</p>
                </a>
            </li>
            <li>
                <a href="#smartphone" data-toggle="tab">
                    <i class="fas fa-2x fa-mobile-alt"></i>
                    <h4>Phones & Tablets</h4>
                    <p>150 item(s)</p>
                </a>
            </li>
            <li>
                <a href="#laptop" data-toggle="tab">
                    <i class="fas fa-2x fa-laptop"></i>
                    <h4>Desk & Laptop</h4>
                    <p>268 item(s)</p>
                </a>
            </li>
            <li>
                <a href="#console" data-toggle="tab">
                    <i class="fas fa-2x fa-gamepad"></i>
                    <h4>Game Console</h4>
                    <p>79 item(s)</p>
                </a>
            </li>
            <li>
                <a href="#watch" data-toggle="tab">
                    <i class="far fa-2x fa-clock"></i>
                    <h4>Watches</h4>
                    <p>105 item(s)</p>
                </a>
            </li>
            <li>
                <a href="#headphones" data-toggle="tab">
                    <i class="fas fa-2x fa-headphones"></i>
                    <h4>Headphones</h4>
                    <p>816 item(s)</p>
                </a>
            </li>
        </ul>

        <!-- TABS CONTENT -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tv">
               @foreach (Product pr in ViewBag.TV)
                {
                     <div class="product-5">
                                        <div class="productimg">
                                            @if(pr.Discount != null)
                                            {
                                                <span class="discount">-@pr.Discount%</span>
                                            }
                                            @if( pr.New == true)
                                            {
                                                <span class="new">NEW</span>
                                            }
                                            <img src="~/Public/images/@pr.Image" alt="">
                                        </div>
                                        <p class="productcategory">@pr.Category.Name</p>
                                        <p class="productname">@pr.Name</p>
                            <div class="stars">
                                @if (pr.Rating == 0)
                                 {
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 1)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 2)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 3)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 4)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 5)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                 }
                                 else
                                 {
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                 }
                                <span>@pr.Review_Count Review(s)</span>
                            </div>
                                        @if(pr.Discount != null)
                            {
                                <p class="oldprice">$@pr.Price</p>
                            }
                            else
                            {
                                <p class="productprice">$@pr.Price</p>
                            }
                                        <div class="buyproduct">
                                            <i class="fas fa-shopping-cart"></i>
                                        </div>
                                    </div>
                }  

            </div>
            <div class="tab-pane fade" id="smartphone">
                @foreach (Product pr in ViewBag.Phone)
                {
                     <div class="product-5">
                                        <div class="productimg">
                                            @if(pr.Discount != null)
                                            {
                                                <span class="discount">-@pr.Discount%</span>
                                            }
                                            @if( pr.New == true)
                                            {
                                                <span class="new">NEW</span>
                                            }
                                            <img src="~/Public/images/@pr.Image" alt="">
                                        </div>
                                        <p class="productcategory">@pr.Category.Name</p>
                                        <p class="productname">@pr.Name</p>
                            <div class="stars">
                                @if (pr.Rating == 0)
                                 {
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 1)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 2)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 3)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 4)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 5)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                 }
                                 else
                                 {
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                 }
                                <span>@pr.Review_Count Review(s)</span>
                            </div>
                                        @if(pr.Discount != null)
                            {
                                <p class="oldprice">$@pr.Price</p>
                            }
                            else
                            {
                                <p class="productprice">$@pr.Price</p>
                            }
                                        <div class="buyproduct">
                                            <i class="fas fa-shopping-cart"></i>
                                        </div>
                                    </div>
                }  
            </div>
            <div class="tab-pane fade" id="laptop">
               @foreach (Product pr in ViewBag.PC)
                {
                     <div class="product-5">
                                        <div class="productimg">
                                            @if(pr.Discount != null)
                                            {
                                                <span class="discount">-@pr.Discount%</span>
                                            }
                                            @if( pr.New == true)
                                            {
                                                <span class="new">NEW</span>
                                            }
                                            <img src="~/Public/images/@pr.Image" alt="">
                                        </div>
                                        <p class="productcategory">@pr.Category.Name</p>
                                        <p class="productname">@pr.Name</p>
                            <div class="stars">
                                @if (pr.Rating == 0)
                                 {
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 1)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 2)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 3)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 4)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 5)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                 }
                                 else
                                 {
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                 }
                                <span>@pr.Review_Count Review(s)</span>
                            </div>
                                        @if(pr.Discount != null)
                            {
                                <p class="oldprice">$@pr.Price</p>
                            }
                            else
                            {
                                <p class="productprice">$@pr.Price</p>
                            }
                                        <div class="buyproduct">
                                            <i class="fas fa-shopping-cart"></i>
                                        </div>
                                    </div>
                } 
            </div>
            <div class="tab-pane fade" id="console">
               @foreach (Product pr in ViewBag.GameConsole)
                {
                     <div class="product-5">
                                        <div class="productimg">
                                            @if(pr.Discount != null)
                                            {
                                                <span class="discount">-@pr.Discount%</span>
                                            }
                                            @if( pr.New == true)
                                            {
                                                <span class="new">NEW</span>
                                            }
                                            <img src="~/Public/images/@pr.Image" alt="">
                                        </div>
                                        <p class="productcategory">@pr.Category.Name</p>
                                        <p class="productname">@pr.Name</p>
                            <div class="stars">
                                @if (pr.Rating == 0)
                                 {
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 1)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 2)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 3)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 4)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 5)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                 }
                                 else
                                 {
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                 }
                                <span>@pr.Review_Count Review(s)</span>
                            </div>
                                        @if(pr.Discount != null)
                            {
                                <p class="oldprice">$@pr.Price</p>
                            }
                            else
                            {
                                <p class="productprice">$@pr.Price</p>
                            }
                                        <div class="buyproduct">
                                            <i class="fas fa-shopping-cart"></i>
                                        </div>
                                    </div>
                } 
            </div>
            <div class="tab-pane fade" id="watch">
                @foreach (Product pr in ViewBag.Watch)
                {
                     <div class="product-5">
                                        <div class="productimg">
                                            @if(pr.Discount != null)
                                            {
                                                <span class="discount">-@pr.Discount%</span>
                                            }
                                            @if( pr.New == true)
                                            {
                                                <span class="new">NEW</span>
                                            }
                                            <img src="~/Public/images/@pr.Image" alt="">
                                        </div>
                                        <p class="productcategory">@pr.Category.Name</p>
                                        <p class="productname">@pr.Name</p>
                            <div class="stars">
                                @if (pr.Rating == 0)
                                 {
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 1)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 2)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 3)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 4)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 5)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                 }
                                 else
                                 {
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                 }
                                <span>@pr.Review_Count Review(s)</span>
                            </div>
                                        @if(pr.Discount != null)
                            {
                                <p class="oldprice">$@pr.Price</p>
                            }
                            else
                            {
                                <p class="productprice">$@pr.Price</p>
                            }
                                        <div class="buyproduct">
                                            <i class="fas fa-shopping-cart"></i>
                                        </div>
                                    </div>
                } 
            </div>
            <div class="tab-pane fade" id="headphones">
                @foreach (Product pr in ViewBag.Headphone)
                {
                     <div class="product-5">
                                        <div class="productimg">
                                            @if(pr.Discount != null)
                                            {
                                                <span class="discount">-@pr.Discount%</span>
                                            }
                                            @if( pr.New == true)
                                            {
                                                <span class="new">NEW</span>
                                            }
                                            <img src="~/Public/images/@pr.Image" alt="">
                                        </div>
                                        <p class="productcategory">@pr.Category.Name</p>
                                        <p class="productname">@pr.Name</p>
                            <div class="stars">
                                @if (pr.Rating == 0)
                                 {
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 1)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 2)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 3)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 4)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 5)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                 }
                                 else
                                 {
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                 }
                                <span>@pr.Review_Count Review(s)</span>
                            </div>
                                        @if(pr.Discount != null)
                            {
                                <p class="oldprice">$@pr.Price</p>
                            }
                            else
                            {
                                <p class="productprice">$@pr.Price</p>
                            }
                                        <div class="buyproduct">
                                            <i class="fas fa-shopping-cart"></i>
                                        </div>
                                    </div>
                } 
            </div>
        </div>
    </div>
</div>
<!-- SECOND TABS END HERE -->

<!-- FROM OUR BLOG START HERE -->
<div class="fromourblog">
    <div class="container">
        <h3>From our Blog</h3>
        <hr>
        <div class="postwrapper">
            @foreach (Blog bg in ViewBag.Blog)
             {
                <div class="col-md-4">
                    <div class="postpicture">
                        <img src="~/Public/images/@bg.Image" alt="">
                    </div>
                    <div class="comment">
                        <a href="#">
                            <i class="far fa-bookmark"></i> @bg.Date</a>
                        <a href="#">
                            <i class="far fa-comment"></i> 86 Comments
                        </a>
                    </div>

                    <h3>@bg.Header</h3>
                    @if(bg.Paragraph_1.Length > 92)
                    {
                        <p>@bg.Paragraph_1.Substring(0, 92) [....]</p>
                    }
                    else
                    {
                        <p>@bg.Paragraph_1</p>
                    }
                    @*<a href="#">Read More</a>*@
                    @Html.ActionLink("Read more", "BlogDetails", new { id = bg.Id })

                </div>
             }
        </div>
    </div>
</div>
<!-- FROM OUR BLOG END HERE -->