@using Final_Project_V2.Models;

@model Final_Project_V2.Models.Product

@{
    ViewBag.Title = "Product Details - Smart Tech";
}

<!-- BREADCRUMB START HERE -->
<div class="breadcrumbwrapper">
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">Home</a>
            </li>
            <li>@Model.Category.Name</li>
            <li class="active">@Model.Name</li>
        </ol>
    </div>
</div>
<!-- BREADCRUMB END HERE -->
<!-- PRODUCT 3 COLUMN START HERE -->
<div class="productwrapper">
    <div class="container">
        <!-- SIDE MENU START HERE -->
        @Html.Partial("ProductSideBar")
        <!-- SIDE MENU END HERE -->
        <!-- PRODUCTS START HERE -->
        <div class="col-md-9">
            <!-- SIMPLE DETAILS START HERE -->
            <div class="productdetails">
                <div class="row">
                    <!-- IMAGE CAROUSEL -->
                    <div class="col-md-6">
                        <img class="zoom" src="~/Public/images/@Model.Image" alt="Picture not found"/>
                    </div>
                    <!-- PRODUCT DETAILS -->
                    <div class="col-md-6">
                        <p class="productcategory">@Model.Category.Name</p>
                        <h4 class="productname">@Model.Name</h4>
                        @if(Model.Discount != null)
                        {
                            <span class="discountsingle">-@Model.Discount%</span>
                        }
                        <div class="stars">
                            @if (Model.Rating == 0)
                            {
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            }
                            else if (Model.Rating == 1)
                            {
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            }
                            else if (Model.Rating == 2)
                            {
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            }
                            else if (Model.Rating == 3)
                            {
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            }
                            else if (Model.Rating == 4)
                            {
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            }
                            else if (Model.Rating == 5)
                            {
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            }
                            else
                            {
                                <i class="fas fa-exclamation-circle"></i>
                                <i class="fas fa-exclamation-circle"></i>
                                <i class="fas fa-exclamation-circle"></i>
                                <i class="fas fa-exclamation-circle"></i>
                                <i class="fas fa-exclamation-circle"></i>
                            }
                            <span>@Model.Review_Count Review(s)</span>
                        </div>
                        <div class="priceandavailability">
                            @if (Model.Discount != null)
                            {
                                <h4 class="oldprice">$@Model.Price</h4>
                            }
                            else
                            {
                                <h4 class="productprice">$@Model.Price</h4>
                            }
                            <h5 class="pull-right">
                                Availability:
                                @if (Model.Count > 0)
                                {
                                    <span>In Stock</span>

                                }
                                else
                                {
                                    <span class="unachievable">Unachievable</span>
                                }
                            </h5>
                        </div>
                        <div class="productcomponents">
                            <ul>
                                <li>@Model.Details_1</li>
                                <li>@Model.Details_2</li>
                                <li>@Model.Details_3</li>
                                <li>@Model.Details_4</li>
                                <li>@Model.Details_5</li>
                            </ul>
                        </div>
                        <div class="colorandsize">
                            <div class="color">
                                <a href="#" style="background: @Model.Color.Name; border: 1px solid #08c;">
                                    <i class="fas fa-check"></i>
                                </a>
                                <a href="#" class="blue">
                                    <i class="fas fa-check"></i>
                                </a>
                                <a href="#" class="gold">
                                    <i class="fas fa-check"></i>
                                </a>
                                <a href="#" class="black">
                                    <i class="fas fa-check"></i>
                                </a>
                            </div>
                            <div class="size pull-right">
                                @if(Model.Size.Name == "S")
                                {
                                    <a href="#" style="border: 1px solid #08c;">S</a>
                                    <a href="#">M</a>
                                    <a href="#">L</a>
                                    <a href="#">XL</a>
                                }
                                else if(Model.Size.Name == "M")
                                {
                                    <a href="#">S</a>
                                    <a href="#" style="border: 1px solid #08c;">M</a>
                                    <a href="#">L</a>
                                    <a href="#">XL</a>
                                }
                                else if(Model.Size.Name == "L")
                                {
                                    <a href="#">S</a>
                                    <a href="#">M</a>
                                    <a href="#" style="border: 1px solid #08c;">L</a>
                                    <a href="#">XL</a>
                                }
                                else if(Model.Size.Name == "XL")
                                {
                                    <a href="#">S</a>
                                    <a href="#">M</a>
                                    <a href="#">L</a>
                                    <a href="#" style="border: 1px solid #08c;">XL</a>
                                }

                            </div>
                        </div>
                        <div class="productcommands">
                            <div class="col-md-4">
                                <a href="#">
                                    <i class="fas fa-heart"></i> Add to Wishlist
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#">
                                    <i class="fas fa-bars"></i> Add to Compare
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#">
                                    <i class="fas fa-envelope"></i> Email to a friend
                                </a>
                            </div>
                        </div>
                        <div class="productcount">
                            <input type="number" min="1">
                            <a href="#" class="btn btn-primary btn-lg">
                                <i class="fas fa-shopping-cart"></i> Add to Cart
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <!-- DETAILS, REVIEWS, SHIPPING TABS START HERE -->
            <div class="reviewandshipping">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#prodetails" data-toggle="tab">Product Details</a>
                    </li>
                    <li>
                        <a href="#customerreviews" data-toggle="tab">Customer Reviews</a>
                    </li>
                    <li>
                        <a href="#shipping" data-toggle="tab">Shipping & Payment</a>
                    </li>
                </ul>
                <!-- TABS CONTENT -->
                <div class="tab-content">
                    <!-- PRODUCT DETAILS TAB -->
                    <div class="tab-pane fade in active" id="prodetails">
                        <ul>
                            <li>@Model.Details_1</li>
                            <li>@Model.Details_2</li>
                            <li>@Model.Details_3</li>
                            <li>@Model.Details_4</li>
                            <li>@Model.Details_5</li>
                        </ul>

                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Carrier</th>
                                    <th>Compatibility Rating</th>
                                    <th>Voice / Text</th>
                                    <th>Voice / Text</th>
                                    <th>2G Data</th>
                                    <th>3G Data</th>
                                    <th>4G LTE Data</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (MobileOperator mo in ViewBag.MobileOperator)
                                {
                                    <tr>
                                        <th>@mo.Carrier</th>
                                        <th>@mo.Rating</th>
                                        <th>
                                            @if (mo.Voice1 == true)
                                            {
                                                <i class="fas fa-check"></i>
                                            }
                                        </th>
                                        <th>
                                            @if (mo.Voice2 == true)
                                            {
                                                <i class="fas fa-check"></i>
                                            }
                                        </th>
                                        <th>
                                            @if (mo.C2GData == true)
                                            {
                                                <i class="fas fa-check"></i>
                                            }
                                        </th>
                                        <th>
                                            @if (mo.C3GData == true)
                                            {
                                                <i class="fas fa-check"></i>
                                            }
                                        </th>
                                        <th>
                                            @if (mo.C4GData == true)
                                            {
                                                <i class="fas fa-check"></i>
                                            }
                                        </th>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- CUSTOMER REVIEWS TAB -->
                    <div class="tab-pane fade" id="customerreviews">

                    </div>
                    <!-- SHIPPING & PAYMENT TAB -->
                    <div class="tab-pane fade" id="shipping">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Shipping Company</th>
                                    <th>Shipping Cost</th>
                                    <th>Estimated Delivery Time</th>
                                    <th>Tracking Information</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Shipping sh in ViewBag.Shipping)
                                {
                                    <tr>
                                        <th>@sh.Shipping_Company</th>
                                        <th>@sh.Shipping_Cost</th>
                                        <th>@sh.Delivery_Time</th>
                                        @if (sh.Tracking_Information == true)
                                        {
                                            <th>Available</th>
                                        }
                                        else
                                        {
                                            <th>Not available</th>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- RELATED PRODUCT START HERE -->
            <div class="relatedproduct">
                <h3>Related Product</h3>
                <hr>
                <div class="relatedcarousel">
                    @foreach (Product pr in ViewBag.RelatedProduct)
                    {
                        <div class="col-md-3">
                        <div class="product-4">
                            <div class="productimg">
                                @if (pr.Discount != null)
                                {
                                    <span class="discount">-@pr.Discount%</span>
                                }
                                @if (pr.New == true)
                                {
                                    <span class="new">NEW</span>
                                }
                                <img src="~/Public/images/@pr.Image" alt="">
                            </div>
                            <p class="productcategory">@pr.Category.Name</p>
                            @Html.ActionLink(pr.Name, "ProductSingle", new { id = pr.Id }, new { @class = "productname" })
                            <div class="stars">
                                @if (pr.Rating == 0)
                                {
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                }
                                else if (pr.Rating == 1)
                                {
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                }
                                else if (pr.Rating == 2)
                                {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                }
                                else if (pr.Rating == 3)
                                {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                }
                                else if (pr.Rating == 4)
                                {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                }
                                else if (pr.Rating == 5)
                                {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                }
                                else
                                {
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                }
                                <span>@pr.Review_Count Review(s)</span>
                            </div>

                            @if (pr.Discount != null)
                             {
                                @*<p class="productprice">$@pr.Price*((100-@pr.Discount)/100)</p>*@

                                <p class="oldprice">$@pr.Price</p>
                             }
                            else
                            {
                                <p class="productprice">$@pr.Price</p>
                            }
                            <div class="buyproduct">
                                <i class="fas fa-shopping-cart"></i>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
            <!-- PRODUCTS END HERE -->
        </div>
    </div>
</div>
<!-- PRODUCT 3 COLUMN END HERE -->
<!-- PRODUCT CAROUSEL START HERE -->
@Html.Partial("RecentlyViewedProductCarousel")
<!-- PRODUCT CAROUSEL END HERE -->