@using Final_Project_V2.Models;

@{
    ViewBag.Title = "About - Smart Tech";
}
<!-- BREADCRUMB START HERE -->
<div class="breadcrumbwrapper">
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">Home</a>
            </li>
            <li class="active">About Us</li>
        </ol>
    </div>
</div>
<!-- BREADCRUMB END HERE -->
<!-- BACKGROUND DIV START HERE -->
<div class="iphone">
    <div class="container">
        <div class="aboutaddstext">
            <h1>@ViewBag.AboutWallpaper.Header</h1>
            <h3>@ViewBag.AboutWallpaper.Text</h3>
            <a href="#" class="btn btn-primary btn-lg">@ViewBag.AboutWallpaper.Button</a>
        </div>
        <img src="~/Public/images/@ViewBag.AboutWallpaper.Image" alt="">
    </div>
</div>
<!-- BACKGROUND DIV END HERE -->
<!-- 4 DIVS START HERE -->
<div class="fourdivs">
    <div class="container">
        @foreach (FourDiv fd in ViewBag.FourDiv)
         {
            <div class="col-md-3">
                <div class="col-md-3 icon">
                    <i class="fa-2x @fd.Icon"></i>
                </div>
                <div class="col-md-9">
                    <h4>@fd.Header</h4>
                    <h5>@fd.Content</h5>
                </div>
            </div>
         }
    </div>
</div>
<!-- 4 DIVS END HERE -->
<!-- PROGRESS BAR START HERE -->
<div class="progressbarwrapper">
    <div class="container">
        <h3>Our Awesome Skills</h3>
        <hr>
        <div class="row">
            <div class="col-md-2">
                <p>Adobe Photoshop</p>
            </div>
            <div class="col-md-10">
                <div id="photoshop"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <p>UI Design</p>
            </div>
            <div class="col-md-10">
                <div id="uidesign"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <p>Layout Frame</p>
            </div>
            <div class="col-md-10">
                <div id="layoutframe"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <p>Typography</p>
            </div>
            <div class="col-md-10">
                <div id="typography"></div>
            </div>
        </div>
    </div>
</div>
<!-- PROGRESS BAR END HERE -->
<!-- MEET OUR TEAM START HERE -->
<div class="ourteam">
    <div class="container">
        <h3>Meet Our Team</h3>
        <hr>
        @foreach (OurTeam ot in ViewBag.OurTeam)
         {
            <div class="col-md-3">
                <div class="memberphoto">
                    <img src="~/Public/images/@ot.Image" alt="">
                </div>
                <h4>@ot.Name</h4>
                <h5>@ot.position</h5>
            </div>
         }
    </div>
</div>
<!-- MEET OUR TEAM END HERE -->
