@using Final_Project_V2.Models;

@{
    ViewBag.Title = "Product 3 Columns - Smart Tech";
}

<!-- BREADCRUMB START HERE -->
<div class="breadcrumbwrapper">
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index")">Home</a>
            </li>
            <li class="active">Cell Phones & Accessories</li>
        </ol>
    </div>
</div>
<!-- BREADCRUMB END HERE -->
<!-- PRODUCT 3 COLUMN START HERE -->
<div class="productwrapper">
    <div class="container">
        <!-- SIDE MENU START HERE -->
        @Html.Partial("ProductSideBar")
        <!-- SIDE MENU END HERE -->
        <!-- PRODUCTS START HERE -->
        <div class="col-md-9">
            <h2>Products</h2>
            <!-- FILTER SECTION -->
            <div class="filterwrapper">
                <p>Showing 1–12 of 756 results</p>
                <select>
                    <option value="show12">Show 12</option>
                    <option value="show24">Show 24</option>
                    <option value="show32">Show 32</option>
                </select>
                <select>
                    <option value="defaultsort">Sort by Default</option>
                    <option value="lowsort">Low to High</option>
                    <option value="highsort">High to Low</option>
                </select>
                <div class="sortview">
                    <i class="fas fa-th-list"></i>
                    <i class="fas fa-th"></i>
                </div>
                <select>
                    <option value="column3" selected>3 Columns</option>
                    <option value="column4">4 Columns</option>
                    <option value="column5">5 Columns</option>
                </select>
            </div>
            <!-- PRODUCT SECTION -->
            <div class="row">
                @foreach (Product pr in ViewBag.Product)
                {
                    <div class="col-md-4">
                        <div class="product-3">
                            <div class="productimg">
                                @if (pr.Discount != null)
        {
                        <span class="discount">-@pr.Discount%</span>
}
                                @if (pr.New == true)
        {
                        <span class="new">NEW</span>
}
                                <img src="~/Public/images/@pr.Image" alt="">
                            </div>
                            <p class="productcategory">@pr.Category.Name</p>
                            @Html.ActionLink(pr.Name, "ProductSingle", new { id = pr.Id }, new { @class = "productname" })

                            @*<a href="/ProductSingle/@pr.Id" class="productname">@pr.Name</a>*@
                            <div class="stars">
                                @if (pr.Rating == 0)
                                 {
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 1)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 2)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 3)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 4)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                 }
                                 else if (pr.Rating == 5)
                                 {
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                 }
                                 else
                                 {
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                    <i class="fas fa-exclamation-circle"></i>
                                 }
                                <span>@pr.Review_Count Review(s)</span>
                            </div>

                            @if(pr.Discount != null)
                            {
                                <p class="oldprice">$@pr.Price</p>
                            }
                            else
                            {
                                <p class="productprice">$@pr.Price</p>
                            }
                            <div class="buyproduct">
                                <i class="fas fa-shopping-cart"></i>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- PAGINATION SECTION -->
            <div class="paginationwrapper">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <i class="fas fa-chevron-left fa-xs"></i>
                            </a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <i class="fas fa-chevron-right fa-xs"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- PRODUCTS END HERE -->
    </div>
</div>
<!-- PRODUCT 3 COLUMN END HERE -->
<!-- PRODUCT CAROUSEL START HERE -->
@Html.Partial("RecentlyViewedProductCarousel")
<!-- PRODUCT CAROUSEL END HERE -->
