@model IEnumerable<Final_Project_V2.Models.Blog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<h2>Blog</h2>
<p class="btn btn-info">
    @Html.ActionLink("Create", "Create")
</p>
<table class="table">
    <tr>
        <th class="sticky">
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th class="sticky">
            @Html.DisplayNameFor(model => model.Header)
        </th>
        <th class="sticky">
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th class="sticky">
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th class="sticky"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="~/Public/images/@item.Image" alt="Picture not found" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Header)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date, "{0:yyyy-MM-dd}")
        </td>
        <td>
             @Html.ActionLink("Edit", "Edit", new { id=item.Id }, new { @class = "btn btn-warning" }) <br />
            @Html.ActionLink("Details", "Details", new { id=item.Id }, new { @class = "btn btn-primary" }) <br />
            @if(item.Status == true)
            {
                @Html.ActionLink("Hide", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" });
            }
            else
            {
                @Html.ActionLink("Show", "Show", new { id = item.Id }, new { @class = "btn btn-success" });
            }
        </td>
    </tr>
}

</table>
