@model Final_Project_V2.Models.FourDiv

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Icon)
        </dt>

        <dd>
            <i class="@Model.Icon fa-2x"></i>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Header)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Header)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Back to List", "Index")
</p>
