@model Final_Project_V2.Models.SocialNetwork

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SocialNetwork</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            <a href="@Model.Url" target="_blank">@Model.Url</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Icon)
        </dt>

        <dd>
            <i class="@Model.Icon fa-2x"></i>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        @if(Model.Status == true)
        {
            <dd>Visible</dd>
        }
        else
        {
            <dd>Invisible</dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Back to List", "Index")
</p>
